.u-section-1 .u-sheet-1 {
  min-height: 758px;
}

.u-section-1 .u-text-1 {
  font-family: Kanit;
  font-weight: 700;
  font-size: 3rem;
  margin: 59px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Kanit;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 22px auto 60px;
}